<div class="container">
    <div>
        <h2>Ajouter un Etudiant:</h2>
    </div>
    <form >
        <div hidden class="col-sm-2 col-md-2 col-lg-2">
            <label >IDEtudiant :</label>
            <input type="text" [(ngModel)]="newEtudiant.idEtudiant" name="idEtudiant" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
            <label >Nom :</label>
            <input type="text"[(ngModel)]= "newEtudiant.nom" name="nom" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
            <label >Prenom :</label>
            <input type="text"[(ngModel)]= "newEtudiant.prenom" name="prenom" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label >Parcours :</label>
            <input type="text" [(ngModel)]= "newEtudiant.parcours" name="parcours" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label >Email :</label>
            <input type="text" [(ngModel)]= "newEtudiant.email" name="email" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label >Date Inscription :</label>
            <input type="date" [(ngModel)]= "newEtudiant.dateInscription" name="dateInscription" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Departement :</label>
            <select class="form-control form-control-lg" id="idDepart" name="idDepart"
            [(ngModel)]="newIdDepart">
             <option *ngFor="let dep of departements" [value]="dep.idDepart" >
             {{dep.nomDepart}}
            </option>
            </select>
            </div>
        <div class="mt-2">
            <button type="submit" (click)="addEtudiant()"class="btn btn-success">Ajouter</button>
            <div>
                <h3>
                    {{message}}
                </h3>
            </div>
        </div>
    </form>
</div>
    